@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@media (min-width: 0) {
  .hidden-xxs {
    display: none;
  }
  body {
    display: block;
  }
}
@media (min-width: 280px) {
  .hidden-xs {
    display: none;
  }
  body {
    display: block;
    margin: 0;
  }
  .top-nav {
    display: flex;
  }
}
@media (min-width: 576px) {
  .hidden-sm {
    display: none;
  }
  .top-nav {
    display: flex;
  }
}
@media (min-width: 768px) {
  .hidden-md {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .title {
    font-size: 4rem;
  }
  .top-nav-initial {
    display: block;
  }
}
@media (min-width: 992px) {
  .hidden-lg {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .placeholder-img {
    height: 600px;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .row {
    max-width: 1500px;
  }
  .secondary-content {
    max-width: 1500px;
  }
  .info-container {
    max-width: 50%;
  }
  .secondary-content,
  .about-container {
    display: flex;
    flex-direction: row !important;
  }
  .scheme-container {
    max-width: 1000px;
    align-items: center;
  }
}
.topic-header {
  text-align: center;
  margin-top: 1.875em;
  margin-bottom: 1.6666666667em;
}

.contact-me {
  margin-bottom: 20px;
}

.top-nav a {
  color: #fff;
}

.top-nav h1 {
  font-size: 40px;
  z-index: 99;
}

.project-name {
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-header {
  margin-top: 5px;
}

.declaration {
  color: #ff5a09;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.about-me-header {
  margin-top: 50px;
  margin-left: 50px;
}

.about-heading {
  font-size: 2em;
}

.short {
  font-size: 20px;
  font-weight: 700;
}

.long {
  font-size: 18px;
  font-weight: 400;
}

.btn {
  height: 56px;
  width: 150px;
  margin-top: 10px;
  padding: 0.625em 1.25em;
  border-radius: 0.35em;
  background-color: #ec7f37;
  color: #fff;
}
.btn:hover {
  background-color: #ff5a09;
}

.form-control {
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
  border-radius: 8px;
}
.form-control:focus {
  border-color: #ff5a09;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(231, 89, 23, 0.6);
  outline: none;
}

.input-large {
  width: 100%;
}

.top-nav-initial {
  display: inline-block;
}
.top-nav-initial:hover {
  color: #ec7f37;
}

.message {
  resize: none;
  height: 150px;
  padding-top: 10px;
}

.submit {
  margin-top: 1.875em;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 40px;
}

.contact-input.success input {
  border-color: #5ece7f;
}

.contact-input.error input {
  border-color: #eb131a;
}

.contact-input.success textarea {
  border-color: #5ece7f;
}

.contact-input.error textarea {
  border-color: #eb131a;
}

.contact-input.success i.fa-circle-check {
  color: #5ece7f;
  visibility: visible;
}

.contact-input.error i.fa-circle-exclamation {
  color: #eb131a;
  visibility: visible;
}

.contact-input.error small {
  color: #eb131a;
  visibility: visible;
}

.social-icon {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  max-height: 38px;
}
.social-icon:hover {
  color: #ff5a09;
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
}

.initials a {
  color: #fff;
}
.initials a:hover {
  color: #ec7f37;
}

.contact-input i {
  position: absolute;
  top: 50px;
  right: 10px;
  visibility: hidden;
}

.contact-input small {
  visibility: hidden;
  position: absolute;
  left: 0;
}

.required {
  color: #ec7f37;
}

.hero-img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 12.5em;
  height: 12.5em;
}

.project-img {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 410px) {
  .project-img {
    max-width: 200px;
    max-height: 200px;
  }
  .about-img {
    width: 12.5em !important;
    height: 12.5em !important;
    margin: 1.25em !important;
  }
}
.about-img {
  border-radius: 50%;
  width: 18.75em;
  height: 18.75em;
  margin: 2.5em;
  flex: 1;
}

.placeholder-img {
  height: 400px;
  width: 100%;
}

@media (max-width: 930px) {
  .placeholder-img {
    height: 300px;
  }
}
@media (max-width: 700px) {
  .placeholder-img {
    height: 200px;
  }
}
@media (max-width: 450px) {
  .placeholder-img {
    height: 150px;
  }
}
* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  padding: 3em;
}

h1 {
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.0952380952;
}

@media (max-width: 576px) {
  h1 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1.0952380952;
  }
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.hamburger {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 99;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: translate(-8px, 6px) rotate(-45deg);
}

.hamburger.is-active:after {
  transform: translate(-9px, 8px) rotate(45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #393939;
  padding-top: 80px;
}

.mobile-nav.is-active {
  left: 0;
  transition: 0.4s;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgb(49, 49, 49);
  color: #fff;
}
.mobile-nav a:hover {
  background-color: rgb(79, 79, 79);
}

@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
.sentence {
  font-size: 30px;
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  margin-left: 8px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.input-cursor {
  -webkit-animation: blink 0.6s linear infinite alternate;
          animation: blink 0.6s linear infinite alternate;
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: 75px auto auto auto auto;
  grid-template-areas: "top-nav" "header" "main" "contact-form" "footer";
}

.top-nav {
  grid-area: top-nav;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: 2fr;
    grid-template-areas: "top-nav" "header" "main" "contact-form" "footer";
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: minmax(100px, 200px) 2fr;
    grid-auto-rows: auto auto auto auto auto;
    grid-template-areas: "nav header" "nav main" "nav contact-form" "nav footer";
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

@media (max-width: 380px) {
  .container {
    max-width: 300px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
header {
  color: #fff;
  background: url(../img/header-img.webp) center/cover no-repeat;
  width: 100%;
}

nav {
  color: #fff;
  background-color: #393939;
}

main {
  color: #0b0b0b;
}

footer {
  color: #fff;
  background-color: #393939;
}

.heading {
  max-height: 650px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scroll a {
  color: #fff;
}

.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.initials {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.nav-content,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #fff;
  line-height: 40px;
}
.nav-content a,
.contact a {
  color: #fff;
}
.nav-content a:hover,
.contact a:hover {
  -webkit-text-decoration: #ec7f37 2px underline;
          text-decoration: #ec7f37 2px underline;
}

.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav {
  flex-direction: row;
  background-color: #393939;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.mobile-nav-list {
  padding: 0;
  border-top: white 4px solid;
}

.mobile-nav-list-item {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.col {
  padding: 30px;
  border: 1px solid #0b0b0b;
  border-radius: 15px;
  margin: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  top: 0;
  transition: 0.5s ease;
}
.col:hover {
  border-color: transparent;
  top: -10px;
  transition: 0.5s ease !important;
}

@media (max-width: 576px) {
  .col {
    margin: 0.3125em;
  }
}
.img-container {
  background-image: url(../img/project-1.jpg) center/cover no repeat;
}

.secondary-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.contact-name {
  display: flex;
  width: 100%;
}

.first-name,
.last-name {
  flex: 1;
}

.first-name {
  margin-right: 10px;
}

.contact-input {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.contact-input label {
  display: inline-block;
  margin-bottom: 5px;
}

.footer-nav {
  margin-top: 1.25em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.footer-nav a {
  color: #fff;
}

.content {
  font-size: 20px;
}

.about-main {
  margin-bottom: 400px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.short,
.long {
  flex: 1;
  margin: 1.25em;
}

.about-me p {
  font-size: 20px;
}

.coding-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 725px;
}

@media (max-width: 768px) {
  .coding-examples {
    max-width: 80%;
  }
}
.main-content {
  max-width: 100%;
}

.slick-slide {
  margin: 0px 50px 0px 50px;
}

.coding-img {
  max-width: 100%;
}

.fade {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center !important;
  padding: 30px;
}

.success-popup {
  display: none;
  background-color: #fff;
  color: #000;
  width: auto;
  position: relative;
  transform: transalte(-50%, -50%);
  top: 30%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
  z-index: 101;
}
.success-popup a {
  color: #fff;
}

@media (min-width: 762px) {
  .success-popup {
    width: 600px;
    margin: 30px auto;
  }
}
.popup-header {
  padding: 15px 20px;
}

.popup-header button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup-header button:hover {
  color: #ec7f37;
}

.success-popup h2 {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.625rem;
  font-weight: 400;
  color: #333645;
}

.popup-content {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}

.success-popup p {
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: #666;
  text-align: justify;
  margin: 20px 0;
}/*# sourceMappingURL=application.css.map */