// =================================================
// Containers 
// =================================================

// Base containers
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

header {
    color: $white;
    background: url(../img/header-img.webp) center / cover no-repeat;
    width: 100%;
}
nav {
    color: $white;
    background-color: $color-primary;
}

main {
    color: $black;
}

footer {
    color: $white;
    background-color: $color-primary;
}

// header containers

    
.heading{
    max-height: 650px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scroll a {
    color: $white;
}

// Nav Containers
.nav-container{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.initials{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $white;
}

.nav-content,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $white;
    line-height: 40px;
    a {
        color: $white;
        &:hover{
            text-decoration: $color-accent 2px underline;
        }
    }
}
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials{
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-nav{
    flex-direction: row;
    background-color:$deep-grey;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

.mobile-nav-list {
    padding:0;
    border-top: white 4px solid;
}

.mobile-nav-list-item {
    margin-top: 20px;
}
// Main Containers

// Primary contant

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.col{
    padding: 30px;
    border: 1px solid $black;
    border-radius: 15px;
    margin: em(20px);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    top: 0;
    transition: .5s ease;
    &:hover {
        border-color: transparent;
        top: -10px;
        transition: .5s ease !important;
    }
}

.img-container{
   background-image: url(../img/project-1.jpg) center / cover no repeat;
}

// Secondary Content

.secondary-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.info-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
    margin-left: 10px;
}
.contact-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}
.contact-name{
    display: flex;
    width: 100%;
}
.first-name,
.last-name {
    flex: 1;
}
.first-name{
    margin-right: 10px;
}
.contact-input{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.contact-input label {
    display: inline-block;
    margin-bottom: 5px;
}

//footer Containers

.footer-nav{
    margin-top: em(20px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    a{
        color: $white;
    }

}


// Scheme.html

.content{
    font-size: $large__font-size;
}


// About-me.html

.about-main{
    margin-bottom: 400px;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.short,
.long {
    flex: 1;
    margin: em(20px);
}

.about-me{
    p {
        font-size: $large__font-size;
    }
}

//coding examples.html

.coding-examples{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 60%;
}
@media (max-width: $breakpoint-md) {
    .coding-examples {
        max-width: 80%;
    }
}

.carousel-item{
    max-width: 400px !important;
}
