// =================================================
// Containers
// =================================================

// Base containers
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

@media (max-width: 380px) {
  .container {
    max-width: 300px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
header {
  color: $white;
  background: url(../img/header-img.webp) center / cover no-repeat;
  width: 100%;
}
nav {
  color: $white;
  background-color: $color-primary;
}

main {
  color: $black;
}

footer {
  color: $white;
  background-color: $color-primary;
}

// header containers

.heading {
  max-height: 650px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scroll a {
  color: $white;
}

// Nav Containers
.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.initials {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $white;
}

.nav-content,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $white;
  line-height: 40px;
  a {
    color: $white;
    &:hover {
      text-decoration: $color-accent 2px underline;
    }
  }
}
.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav {
  flex-direction: row;
  background-color: $deep-grey;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.mobile-nav-list {
  padding: 0;
  border-top: white 4px solid;
}

.mobile-nav-list-item {
  margin-top: 20px;
}
// Main Containers

// Primary contant

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.col {
  padding: 30px;
  border: 1px solid $black;
  border-radius: 15px;
  margin: em(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
  top: 0;
  transition: 0.5s ease;
  &:hover {
    border-color: transparent;
    top: -10px;
    transition: 0.5s ease !important;
  }
}
@media (min-width: $breakpoint-lg) {
  .item-1,
  .item-2,
  .item-3 {
    width: 600px;
  }
}

.projects {
  align-items: center;
}
@media (max-width: $breakpoint-sm) {
  .col {
    margin: em(5px);
  }
}
.img-container {
  background-image: url(../img/project-1.jpg) center / cover no repeat;
}

.skills {
  width: 300px;
}

// Secondary Content

.secondary-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.contact-name {
  display: flex;
  width: 100%;
}
.first-name,
.last-name {
  flex: 1;
}
.first-name {
  margin-right: 10px;
}
.contact-input {
  padding-bottom: 20px;
  position: relative;
}

.contact-input label {
  display: inline-block;
  margin-bottom: 5px;
}

//footer Containers

.footer-nav {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0;
  a {
    color: $white;
  }
}

// Scheme.html

.content {
  font-size: $large__font-size;
  width: 100%;
}

// About-me.html

.about-main {
  margin-bottom: 400px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.short,
.long {
  flex: 1;
  margin: em(20px);
}

.about-me {
  p {
    font-size: $large__font-size;
  }
}

//coding examples.html

.coding-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 725px;
}
@media (max-width: $breakpoint-md) {
  .coding-examples {
    max-width: 80%;
  }
}

.main-content {
  max-width: 100%;
  margin-bottom: 50px;
}

// .carousel-item{
//     max-width: 400px !important;
// }
.slick-slide {
  margin: 0px 50px 0px 50px;
}
.coding-img {
  max-width: 100%;
}

// contact success popup

.fade {
  display: flex;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center !important;
  padding: 30px;
}

.success-popup {
  display: block;

  background-color: #fff;
  color: #000;
  width: auto;
  position: relative;
  transform: transalte(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  background-clip: padding-box;
  outline: none;
  z-index: 101;
  a {
    color: #fff;
  }
}

@media (min-width: 762px) {
  .success-popup {
    width: 600px;
    margin: 30px auto;
  }
}
.popup-header {
  padding: 15px 20px;
}
.popup-header button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $color-accent;
  }
}
.success-popup h2 {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.625rem;
  font-weight: 400;
  color: #333645;
}

.popup-content {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}
.success-popup p {
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: #666;
  text-align: justify;
  margin: 20px 0;
}
