// =============================================
// Grid Layout
// =============================================

// Page layout grid

.grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: 75px auto auto auto auto;
    grid-template-areas: 
    "top-nav"
    "header"
    "main"
    "contact-form"
    "footer";
}
.top-nav{
    grid-area: top-nav;
}
header{
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media (min-width: $breakpoint-sm){
    .grid{
    grid-template-columns: 2fr;
    grid-template-areas: 
    "top-nav"
    "header"
    "main"
    "contact-form"
    "footer";
    }
}
@media (min-width: $breakpoint-md){
    .grid{
    grid-template-columns: minmax(100px, 200px) 2fr;
    grid-auto-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav contact-form"
    "nav footer";
    }
}