// =============================================
// Grid Layout
// =============================================

// Page layout grid

.grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "header"
    "main"
    "contact-form"
    "footer";
}

header{
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media (min-width: $breakpoint-sm){
    .grid{
    grid-template-columns: minmax(100px, 200px) 2fr;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav contact-form"
    "nav footer";
    }
}