// =========================================
// Buttons
// =========================================

// Base button

.btn {
    height: 56px;
    width: 150px;
    margin-top: 10px;
    padding: .625em 1.25em;
    border-radius: .35em;
    background-color: $color-accent;
    color: $white;
    &:hover{
        background-color: $color-secondary;
    }
}

.form-control{
    font-size: $base__font-size;
    font-family: $font-family--primary;
    height: 47px;
    padding: 5px 15px;
    border-color: #ccc;
    border: 1px solid #e5e5e5;
    display: block;
    width: 100%;
    border-radius: 8px;
    &:focus{
        border-color: $color-secondary;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 
        0 0 8px rgba(231, 89, 23, 0.6);
        outline: none;
    }
}

.input-large{
    width: 100%;
}
// Nav buttons

.top-nav-initial {
    display: inline-block;
    &:hover {
        color: $color-accent;
    }
}

// Primary content button


// Secondary Content

.message{
    resize: none;
    height: 150px;
    padding-top: 10px;
}

.submit{
    margin-top: em(30px);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $base__font-size;
    height: 40px;
}

.contact-input.success input {
    border-color: $success;
}

.contact-input.error input {
    border-color: $error;
}

.contact-input.success textarea {
    border-color: $success;
}

.contact-input.error textarea {
    border-color: $error;
}
.contact-input.success i.fa-circle-check{
    color: $success;
    visibility: visible;
}

.contact-input.error i.fa-circle-exclamation{
    color: $error;
    visibility: visible;
}

.contact-input.error small{
    color: $error;
    visibility: visible;
}

// Scheme.html

//content
