//============================================
// Images
// ===========================================

// Index.html

.hero-img {
  border: 5px solid $white;
  border-radius: 50%;
  width: em(200px);
  height: em(200px);
}

.project-img {
  max-width: 300px;
  max-height: 300px;
}
@media (max-width: 410px) {
  .project-img {
    max-width: 200px;
    max-height: 200px;
  }

  .about-img {
    width: em(200px) !important;
    height: em(400px) !important;
    margin: em(20px) !important;
  }
}

// About me.html

.about-img {
  border-radius: 90em 90em 0 0 / 100%;
  border: 3px solid #393939;
  padding: 20px;
  width: em(300px);
  height: em(400px);
  margin: em(40px);
  flex: 1;
}

// coding examples

.placeholder-img {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.scrollableY-img {
  max-height: 400px;
  max-width: 583px;
  overflow: scroll;
  overflow-x: hidden;
}

.scrollableX-img {
  max-height: 400px;
  max-width: 583px;
  overflow: scroll;
  overflow-y: hidden;
}
.scrollY-img {
  width: 100%;
  object-position: center;
}
.scrollX-img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 930px) {
  .placeholder-img,
  .scrollableY-img,
  .scrollableX-img {
    height: 300px;
    width: 500px;
  }
}
@media (max-width: 700px) {
  .placeholder-img,
  .scrollableY-img,
  .scrollableX-img {
    height: 200px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  .placeholder-img,
  .scrollableY-img,
  .scrollableX-img {
    height: 150px;
    width: 300px;
  }
}
