//============================================
// Images 
// ===========================================

// Index.html

.hero-img{
    border: 5px solid $white;
    border-radius: 50%;
    width: em(200px);
    height: em(200px);
}


.project-img{
    max-width: 300px;
    max-height: 300px;
}

// About me.html

.about-img{
    border-radius: 50%;
    width: em(300px);
    height: em(300px);
    margin: em(40px);
    flex: 1;
}

// coding examples html

.placeholder-img{
    height: 400px;
    width: 100%;
}
@media (max-width: 930px) {
    .placeholder-img{
        height: 300px
    }
}
@media (max-width: 700px) {
    .placeholder-img{
        height: 200px
    }
}
@media (max-width: 450px) {
    .placeholder-img{
        height: 150px
    }
}

