//============================================
// Images 
// ===========================================


.hero-img{
    border: 5px solid $white;
    border-radius: 50%;
    max-width: em(200px);
    max-height: em(200px);
}


.project-img{
    max-width: 300px;
    max-height: 300px;
}