// ===================================================
// Typography
// ===================================================

//Base

.topic-header{
    text-align: center;
}

// nav

.contact-me{
    margin-bottom: 20px;
}

// Primary content

.project-name{
    margin-bottom: 20px;
    font-weight: $font-weight--bold;
}

// Main Content

// Primary Content

// Secondary Content

.declaration{
    color: $color-secondary;
    text-decoration: none;
    font-weight: $font-weight--bold;
    font-size: $large__font-size;
}