// ===================================================
// Typography
// ===================================================

//Base

.topic-header{
    text-align: center;
    margin-top: em(30px);
    margin-bottom: em(70px, 42px);
}


// nav

.contact-me{
    margin-bottom: 20px;
}

.top-nav a {
    color: $white;
}
.top-nav h1 {
    font-size: 40px;
    z-index: 99;
}
// Primary content

.project-name{
    margin-bottom: 20px;
    font-weight: $font-weight--bold;
}

// Main Content

// Primary Content

// Secondary Content
.contact-header{
    margin-top: 5px;
}
.declaration{
    color: $color-secondary;
    text-decoration: none;
    font-weight: $font-weight--bold;
    font-size: $large__font-size;
}

// About me html

.about-me-header{
    margin-top: 50px;
    margin-left: 50px;
}
.about-heading{
    font-size: 2em;
}

.short{
    font-size: $large__font-size;
    font-weight: $font-weight--bold ;
}

.long{
    font-size: 18px;
    font-weight: $font-weight--medium;
}