// =================================================
// Utilities
// =================================================

// Import Google fonts if defined

@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

// em value calculation

@function em($target, $context: $base__font-size) {
    @return calc($target / $context) * 1em;
}

// Mixins

@mixin bg-colors($map) {  
    @each $theme, $color in $map {
          &--#{$theme} {
            background-color: $color;
        }
      }
    }

// media queries

@media (min-width: $breakpoint-xxs) {
  .hidden-xxs{
    display: none;
  }
  body{
    display: block;
  }

}

@media (min-width: $breakpoint-xs) {
  .hidden-xs{
    display: none;
  }
  body{
    display: block;
    margin: 0;
  }
  .top-nav {
    display: flex;
  }
}

@media (min-width: $breakpoint-sm) {
  .hidden-sm{
    display: none;
  }
  body{
    display: block;
    margin-left: -200px;
  }
  .top-nav{
    display: none;
  }
}


@media (min-width: $breakpoint-md) {
  .hidden-md{
    display: none;
  }
  body{
    margin: 0;
  }
  .nav{
    display: grid;
  }
  .title{
    font-size: 4rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .hidden-lg{
    display: none;
  }
  body{
    margin: 0;
  }
  .nav{
    display: grid;
  }
}

@media (min-width: $breakpoint-xl) {
  .hidden-xl{
    display: none;
  }
  body{
    margin: 0;
  }
  .nav{
    display: grid;
  }
  .row{
    max-width: 1500px;
  }
  .secondary-content{
    max-width: 1500px;
  }
  .info-container{
    max-width: 50%;
  }
  .secondary-content,
  .about-container {
    display: flex;
    flex-direction: row !important;
  }
}