// =================================================
// Utilities
// =================================================

// Import Google fonts if defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

// em value calculation

@function em($target, $context: $base__font-size) {
  @return calc($target / $context) * 1em;
}

// Mixins

@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

// media queries

@media (min-width: $breakpoint-xxs) {
  .hidden-xxs {
    display: none;
  }
  body {
    display: block;
  }
}

@media (min-width: $breakpoint-xs) {
  .hidden-xs {
    display: none;
  }
  body {
    display: block;
    margin: 0;
  }
  .top-nav {
    display: flex;
  }
}

@media (min-width: $breakpoint-sm) {
  .hidden-sm {
    display: none;
  }
  // body{
  //   // display: block;
  //   // margin-left: -200px;
  // }
  .top-nav {
    display: flex;
  }
}

@media (min-width: $breakpoint-md) {
  .hidden-md {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .title {
    font-size: 4rem;
  }
  .top-nav-initial {
    display: block;
  }
}

@media (min-width: $breakpoint-lg) {
  .hidden-lg {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .placeholder-img {
    height: 600px;
    width: 600px;
  }
  .projects {
    max-width: 600px;
    flex-direction: column !important;
  }
}

@media (min-width: $breakpoint-xl) {
  .hidden-xl {
    display: none;
  }
  body {
    margin: 0;
  }
  .nav {
    display: grid;
  }
  .row {
    max-width: 1200px;
  }
  .secondary-content {
    max-width: 1200px;
  }
  .info-container {
    max-width: 50%;
  }
  .secondary-content {
    display: flex;
    flex-direction: row !important;
  }
  .scheme-container {
    max-width: 1000px;
    align-items: center;
  }
}
