// ===================================================
// Base Styles
// ===================================================
* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: $base__font-size;
  line-height: calc($base__line / $base__font-size);
  font-family: $font-family--primary;
  overflow-y: auto;
}

header {
  text-align: center;
  padding: em(48px);
}

h1 {
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: calc(46px / 42px);
}

@media (max-width: $breakpoint-sm) {
  h1 {
    font-weight: $font-weight--light;
    font-size: em(32px);
    line-height: calc(46px / 42px);
  }
}

h2 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  font-size: em(24px);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

ul {
  padding: 0;
}
